$white: #f9fafb !default;
$gray-100: #f1f2f4 !default;
$gray-200: #e0e4e7 !default;
$gray-300: #c5ccd4 !default;
$gray-400: #a5adb8 !default;
$gray-500: #8893a1 !default;
$gray-600: #6d7a8b !default;
$gray-700: #55606d !default;
$gray-800: #3e4750 !default;
$gray-900: #292f35 !default;
$black: #14171a !default;

$blue: #2980b9 !default;
$indigo: #5b62b3 !default;
$purple: #8e44ad !default;
$pink: #ad448e !default;
$red: #e74c3c !default;
$orange: #e67e21 !default;
$yellow: #f1c40e !default;
$green: #27ae60 !default;
$teal: #17a085 !default;
$cyan: #5fc4e4 !default;

$success: $blue !default;

$font-family-sans-serif: 'Noto Sans', sans-serif !default;
$font-family-monospace: 'IBM Plex Mono', monospace !default;
